div {
    background-color: snow
}

.iconPic {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

body {
    background-image: url("../images/elementsBackground.png");
    color: #6b9d3f
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.marginTop50px {
    margin-top: 50px;
}

.marginTop20px {
    margin-top: 20px;
}

#gameStats {
    font-size: 20pt;
}

#title {
    margin-top: 20px;
}

#instructions {
    margin-top: 10px;
    color: lightslategray;
}

#title {
    font-family: 'Cabin Sketch', cursive;
}

#winLossAnnounce {
    font-family: 'Cabin Sketch', cursive;
    font-size: 40pt;
}